.sesion {
    display: flex;
    flex-direction: row;

}
.parrafoSesion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nombre {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    width: 80px;
}
.cerrarSesion{
    margin: 20px;
    padding: 5px ;
    color: lightgrey;
    border-radius: 100px;
    border: 1px solid darkblue;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    background-color: red;
    text-align: end;

}
a:hover {
    box-shadow: 0px 0px 5px 0px darkred;
}
.letra {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: darkred;
    font-weight: bold;
    color: white;
    font-size: large;
    border-radius: 50%;
    border: 2px solid white;   
}
h1 {
    color: darkblue;
    text-align: center;
}

label:hover {
    color: black;
}

main {
    flex-direction: column;
    height: 600px;
    justify-content: flex-start;
}
fieldset {
    margin: 10px;

}

legend {
    font-size: smaller;
}

input, textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 500px;
}
textarea {
    field-sizing: content;
    min-height: 60px;
    max-height: 220px;
    resize: none;
}
.botonesCorreo {
    display: flex;
    flex-direction: row-reverse;
    .bCorreo {
        margin: 5px 10px;
    }
}

.obligatorio {
    color: brown;
}

textarea:focus {
    outline: none;
    border: 2px solid black;
}

p {
    width: 250px;
    font-weight: bolder;
    color: #42b72a;
}